#accesoriosbutton a,
#repuestosbutton a,
#carrierbutton a,
#iniciobutton a,
#contactobutton a,
#serviciosbutton a,
#ofertasbutton a,
#copelandbutton a  {
   background-repeat: no-repeat;
   display: block;
   height: 19px;
   background-position: 0% 0px;
   font-size: 19px;
   line-height: 19px;
}

#id109verbutton a:hover,
#id102verbutton a:hover,
#id93verbutton a:hover,
#id79verbutton a:hover,
#id72verbutton a:hover,
#buynow3button a:hover  {
   background-position: -74px 0%;
}

#id93verbutton a,
#id102verbutton a,
#id109verbutton a,
#id72verbutton a,
#buynow3button a,
#id79verbutton a  {
   background-repeat: no-repeat;
   display: block;
   height: 34px;
   width: 74px;
   background-position: 0% 0px;
   font-size: 34px;
   line-height: 34px;
}

#id69rectangle6,
#id92rectangle6,
#id77rectangle6,
#id107rectangle6,
#id84rectangle6,
#id100rectangle6  {
   background: url(homedollarmedia/id107rectangle6.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   z-index: 3;
   width: 254px;
   height: 5px;
}

#id91rectangle5,
#id82rectangle5,
#id105rectangle5,
#id67rectangle5,
#id98rectangle5,
#id75rectangle5  {
   background: url(homedollarmedia/id105rectangle5.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   z-index: 2;
   width: 257px;
   height: 264px;
}

#id72verbutton,
#id79verbutton,
#buynow3button,
#id93verbutton  {
   visibility: visible;
   position: absolute;
   top: 1150px;
   z-index: 3;
   width: 74px;
   height: 34px;
}

#ver2button a:hover,
#ver3button a:hover,
#ver1button a:hover  {
   background-position: -59px 0%;
}

#copia3,
#copia2,
#copia6,
#copia5,
#copia4,
#copia,
#id35  {
   background: url(homedollarmedia/copia6.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   top: 181px;
   z-index: 2;
   width: 2px;
   height: 18px;
}

#kitdeempacadurasbocinascigealesbielasplatosborneraspi  {
   background: url(homedollarmedia/id129kitdeempacadurasbocina.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 951px;
   top: 1687px;
   z-index: 2;
   width: 138px;
   height: 212px;
}

#contactobutton a:hover,
#serviciosbutton a:hover  {
   background-position: -65px 0%;
}

#i3raaventre2day3ratransvediflapalmapblocal2  {
   background: url(homedollarmedia/id1173raaventre2day3ratrans.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 234px;
   top: 1686px;
   z-index: 2;
   width: 197px;
   height: 49px;
}

#ver3button a,
#ver2button a,
#ver1button a  {
   background-repeat: no-repeat;
   display: block;
   height: 32px;
   width: 59px;
   background-position: 0% 0px;
   font-size: 32px;
   line-height: 32px;
}

#ver2button,
#ver1button,
#ver3button  {
   visibility: visible;
   position: absolute;
   top: 770px;
   z-index: 3;
   width: 59px;
   height: 32px;
}

#twitterbutton a,
#facebookbutton a  {
   background-repeat: no-repeat;
   display: block;
   height: 33px;
   background-position: 0% 0px;
   font-size: 33px;
   line-height: 33px;
}

#contactobutton,
#serviciosbutton  {
   visibility: visible;
   position: absolute;
   top: 182px;
   z-index: 2;
   width: 65px;
   height: 19px;
}

#id109verbutton,
#id102verbutton  {
   visibility: visible;
   position: absolute;
   top: 1457px;
   z-index: 3;
   width: 74px;
   height: 34px;
}

#remanufacturadosbutton a:hover  {
   background-position: -310px 0%;
}

#carrier06e299,
#carrier06e265  {
   visibility: visible;
   position: absolute;
   top: 1426px;
   z-index: 3;
   width: 139px;
   height: 19px;
   background-repeat: no-repeat;
}

#id52modelos,
#id54modelos  {
   background: url(homedollarmedia/id54modelos.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   top: 688px;
   z-index: 3;
   width: 75px;
   height: 19px;
}

#accesoriosbutton a:hover  {
   background-position: -78px 0%;
}

#remanufacturadosbutton a  {
   background: url(homedollarmedia/remanufacturadosbutton.jpg) no-repeat 0% 0px;
   display: block;
   height: 87px;
   width: 310px;
   font-size: 87px;
   line-height: 87px;
}

#shape3copy,
#shape3copy2  {
   visibility: visible;
   position: absolute;
   top: 705px;
   z-index: 3;
   width: 29px;
   height: 88px;
   background-repeat: no-repeat;
}

#repuestosbutton a:hover  {
   background-position: -72px 0%;
}

#i0212284303502122840532  {
   background: url(homedollarmedia/0212284303502122840532.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 469px;
   top: 57px;
   z-index: 2;
   width: 293px;
   height: 18px;
}

#copelandbutton a:hover  {
   background-position: -66px 0%;
}

#facebookbutton a:hover  {
   background-position: -33px 0%;
}

#remanufacturadosbutton  {
   visibility: visible;
   position: absolute;
   left: 956px;
   top: 7px;
   z-index: 2;
   width: 310px;
   height: 87px;
}

#ofertasbutton a:hover  {
   background-position: -55px 0%;
}

#carrierbutton a:hover  {
   background-position: -54px 0%;
}

#twitterbutton a:hover  {
   background-position: -34px 0%;
}

#iniciobutton a:hover  {
   background-position: -38px 0%;
}

#layer4,
#layer4copy  {
   background: url(homedollarmedia/layer4copy.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   top: 653px;
   z-index: 3;
   width: 1px;
   height: 190px;
}

#mabotecnicagmailcom  {
   background: url(homedollarmedia/mabotecnicagmailcom.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 235px;
   top: 1817px;
   z-index: 2;
   width: 174px;
   height: 16px;
}

#compresorescopeland  {
   background: url(homedollarmedia/compresorescopeland.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 442px;
   top: 1641px;
   z-index: 2;
   width: 205px;
   height: 19px;
}

#logobutton a:hover  {
   background-position: -268px 0%;
}

#accesoriosbutton a  {
   width: 78px;
   background-image: url(homedollarmedia/accesoriosbutton.jpg);
}

#compresorescarrier  {
   background: url(homedollarmedia/compresorescarrier.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 712px;
   top: 1641px;
   z-index: 2;
   width: 191px;
   height: 19px;
}

#repuestosbutton a  {
   width: 72px;
   background-image: url(homedollarmedia/repuestosbutton.jpg);
}

#serviciosbutton a  {
   width: 65px;
   background-image: url(homedollarmedia/serviciosbutton.jpg);
}

#facebookbutton a  {
   width: 33px;
   background-image: url(homedollarmedia/facebookbutton.jpg);
}

#id102verbutton a  {
   background-image: url(homedollarmedia/id102verbutton.jpg);
}

#accesoriosbutton  {
   visibility: visible;
   position: absolute;
   left: 526px;
   top: 182px;
   z-index: 2;
   width: 78px;
   height: 19px;
}

#copelandbutton a  {
   width: 66px;
   background-image: url(homedollarmedia/copelandbutton.jpg);
}

#id109verbutton a  {
   background-image: url(homedollarmedia/id109verbutton.jpg);
}

#contactobutton a  {
   width: 65px;
   background-image: url(homedollarmedia/contactobutton.jpg);
}

#twitterbutton a  {
   width: 34px;
   background-image: url(homedollarmedia/twitterbutton.jpg);
}

#ofertasbutton a  {
   width: 55px;
   background-image: url(homedollarmedia/ofertasbutton.jpg);
}

#id105rectangle5  {
   top: 1264px;
   left: 809px;
}

#buynow3button a  {
   background-image: url(homedollarmedia/id102verbutton.jpg);
}

#repuestosbutton  {
   visibility: visible;
   position: absolute;
   left: 646px;
   top: 182px;
   z-index: 2;
   width: 72px;
   height: 19px;
}

#id107rectangle6  {
   top: 1521px;
   left: 810px;
}

#id72verbutton a  {
   background-image: url(homedollarmedia/id102verbutton.jpg);
}

#id79verbutton a  {
   background-image: url(homedollarmedia/id102verbutton.jpg);
}

#id100rectangle6  {
   top: 1521px;
   left: 497px;
}

#serviciosbutton  {
   left: 764px;
}

#id93verbutton a  {
   background-image: url(homedollarmedia/id93verbutton.jpg);
}

#carrierbutton a  {
   width: 54px;
   background-image: url(homedollarmedia/carrierbutton.jpg);
}

#id92rectangle6  {
   top: 1521px;
   left: 190px;
}

#id75rectangle5  {
   top: 957px;
   left: 496px;
}

#facebookbutton  {
   visibility: visible;
   position: absolute;
   left: 786px;
   top: 47px;
   z-index: 2;
   width: 33px;
   height: 33px;
}

#mrnr2d4d6d8d3r  {
   background: url(homedollarmedia/mrnr2d4d6d8d3r.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 591px;
   top: 1688px;
   z-index: 2;
   width: 23px;
   height: 180px;
}

#id82rectangle5  {
   top: 957px;
   left: 809px;
}

#i5f5h06c06d06e  {
   background: url(homedollarmedia/5f5h06c06d06e.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 786px;
   top: 1688px;
   z-index: 2;
   width: 28px;
   height: 124px;
}

#copelandbutton  {
   visibility: visible;
   position: absolute;
   left: 321px;
   top: 182px;
   z-index: 2;
   width: 66px;
   height: 19px;
}

#id77rectangle6  {
   top: 1214px;
   left: 497px;
}

#id109verbutton  {
   left: 933px;
}

#carrier06dr241  {
   background: url(homedollarmedia/carrier06dr241.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 866px;
   top: 1426px;
   z-index: 3;
   width: 149px;
   height: 19px;
}

#iniciobutton a  {
   width: 38px;
   background-image: url(homedollarmedia/iniciobutton.jpg);
}

#contactobutton  {
   left: 875px;
}

#id102verbutton  {
   left: 618px;
}

#id69rectangle6  {
   top: 1214px;
   left: 190px;
}

#id98rectangle5  {
   top: 1264px;
   left: 496px;
}

#id84rectangle6  {
   top: 1214px;
   left: 810px;
}

#id91rectangle5  {
   top: 1264px;
   left: 189px;
}

#id67rectangle5  {
   top: 957px;
   left: 189px;
}

#id93verbutton  {
   left: 316px;
   top: 1457px;
}

#carrier06e299  {
   background-image: url(homedollarmedia/carrier06e299.jpg);
   left: 257px;
}

#partesypiezas  {
   background: url(homedollarmedia/partesypiezas.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 1073px;
   top: 688px;
   z-index: 3;
   width: 71px;
   height: 44px;
}

#id79verbutton  {
   left: 623px;
}

#twitterbutton  {
   visibility: visible;
   position: absolute;
   left: 826px;
   top: 47px;
   z-index: 2;
   width: 34px;
   height: 33px;
}

#ofertasbutton  {
   visibility: visible;
   position: absolute;
   left: 226px;
   top: 182px;
   z-index: 2;
   width: 55px;
   height: 19px;
}

#id72verbutton  {
   left: 316px;
}

#carrierbutton  {
   visibility: visible;
   position: absolute;
   left: 430px;
   top: 182px;
   z-index: 2;
   width: 54px;
   height: 19px;
}

#buynow3button  {
   left: 936px;
}

#carrier06e265  {
   background-image: url(homedollarmedia/carrier06e265.jpg);
   left: 555px;
}

#iniciobutton  {
   visibility: visible;
   position: absolute;
   left: 146px;
   top: 182px;
   z-index: 2;
   width: 38px;
   height: 19px;
}

#logobutton a  {
   background: url(homedollarmedia/logobutton.jpg) no-repeat 0% 0px;
   display: block;
   height: 130px;
   width: 268px;
   font-size: 130px;
   line-height: 130px;
}

#ver3button a  {
   background-image: url(homedollarmedia/ver3button.jpg);
}

#i02122843035  {
   background: url(homedollarmedia/02122843035.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 234px;
   top: 1764px;
   z-index: 2;
   width: 111px;
   height: 14px;
}

#ver1button a  {
   background-image: url(homedollarmedia/ver1button.jpg);
}

#ver2button a  {
   background-image: url(homedollarmedia/ver3button.jpg);
}

#shape3copy2  {
   background-image: url(homedollarmedia/shape3copy2.jpg);
   left: 32px;
}

#id52modelos  {
   left: 328px;
}

#compresores  {
   background: url(homedollarmedia/compresores.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 186px;
   top: 868px;
   z-index: 2;
   width: 135px;
   height: 22px;
}

#id54modelos  {
   left: 683px;
}

#i4r6r9rehkl  {
   background: url(homedollarmedia/4r6r9rehkl.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 469px;
   top: 1688px;
   z-index: 2;
   width: 18px;
   height: 180px;
}

#mabotecnica  {
   background: url(homedollarmedia/mabotecnica.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 235px;
   top: 1879px;
   z-index: 2;
   width: 102px;
   height: 14px;
}

#ver2button  {
   left: 682px;
}

#shape3copy  {
   background-image: url(homedollarmedia/shape3copy.jpg);
   left: 1215px;
}

#ver1button  {
   left: 326px;
}

#brilloalta  {
   background: url(homedollarmedia/brilloalta.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 892px;
   top: 686px;
   z-index: 3;
   width: 176px;
   height: 138px;
}

#copeland3d  {
   background: url(homedollarmedia/copeland3d.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 257px;
   top: 1119px;
   z-index: 4;
   width: 108px;
   height: 19px;
}

#logobutton  {
   visibility: visible;
   position: absolute;
   left: 39px;
   top: 24px;
   z-index: 2;
   width: 268px;
   height: 130px;
}

#homedollar  {
   margin: 0px auto 0px auto;
   width: 1280px;
   position: relative;
}

#ver3button  {
   left: 1076px;
}

#rectangle4  {
   background: url(homedollarmedia/rectangle4.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: -13px;
   top: 654px;
   z-index: 2;
   width: 1308px;
   height: 194px;
}

#layer4copy  {
   left: 822px;
}

#rectangle3  {
   background: url(homedollarmedia/rectangle3.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 431px;
   top: 116px;
   z-index: 2;
   width: 436px;
   height: 33px;
}

#copeland4r  {
   background: url(homedollarmedia/copeland4r.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 564px;
   top: 1119px;
   z-index: 3;
   width: 109px;
   height: 19px;
}

#copelandl  {
   background: url(homedollarmedia/copelandl.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 877px;
   top: 1119px;
   z-index: 4;
   width: 96px;
   height: 19px;
}

#menurpido  {
   background: url(homedollarmedia/menurpido.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 947px;
   top: 1637px;
   z-index: 2;
   width: 108px;
   height: 23px;
}

#contacto  {
   background: url(homedollarmedia/contacto.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 232px;
   top: 1641px;
   z-index: 2;
   width: 81px;
   height: 19px;
}

#twitter1  {
   background: url(homedollarmedia/twitter1.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 185px;
   top: 1858px;
   z-index: 2;
   width: 43px;
   height: 43px;
}

#adsspace  {
   background: url(homedollarmedia/adsspace.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 0px;
   top: 208px;
   z-index: 2;
   width: 1280px;
   height: 445px;
}

#copia3  {
   left: 504px;
}

#copia5  {
   left: 739px;
}

#copia4  {
   left: 624px;
}

#copia2  {
   left: 407px;
}

#capa23  {
   background: url(homedollarmedia/capa23.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 678px;
   top: 714px;
   z-index: 3;
   width: 126px;
   height: 26px;
}

#copia6  {
   left: 850px;
}

#capa25  {
   background: url(homedollarmedia/capa25.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 866px;
   top: 1270px;
   z-index: 3;
   width: 131px;
   height: 149px;
}

#capa17  {
   background: url(homedollarmedia/capa17.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 1039px;
   top: 144px;
   z-index: 2;
   width: 16px;
   height: 8px;
}

#capa29  {
	background: url(homedollarmedia/capa29.jpg) no-repeat;
	visibility: visible;
	position: absolute;
	left: 828px;
	top: 1152px;
	z-index: 4;
	width: 74px;
	height: 33px;
}

#capa22  {
   background: url(homedollarmedia/capa22.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 328px;
   top: 713px;
   z-index: 3;
   width: 81px;
   height: 31px;
}

#capa27  {
   background: url(homedollarmedia/capa27.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 111px;
   top: 660px;
   z-index: 3;
   width: 197px;
   height: 171px;
}

#capa19  {
   background: url(homedollarmedia/capa19.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 438px;
   top: 47px;
   z-index: 2;
   width: 26px;
   height: 35px;
}

#capa13  {
   background: url(homedollarmedia/capa13.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 191px;
   top: 1749px;
   z-index: 2;
   width: 29px;
   height: 39px;
}

#capa26  {
   background: url(homedollarmedia/capa26.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1;
   width: 1280px;
   height: 1982px;
}

#capa12  {
   background: url(homedollarmedia/capa12.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 192px;
   top: 1689px;
   z-index: 2;
   width: 24px;
   height: 41px;
}

#layer4  {
   left: 482px;
}

#shape2  {
   background: url(homedollarmedia/shape2.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 1151px;
   top: 111px;
   z-index: 2;
   width: 41px;
   height: 37px;
}

#capa24  {
   background: url(homedollarmedia/capa24.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 527px;
   top: 1268px;
   z-index: 3;
   width: 214px;
   height: 157px;
}

#capa14  {
   background: url(homedollarmedia/capa14.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 187px;
   top: 1812px;
   z-index: 2;
   width: 37px;
   height: 24px;
}

#capa28  {
   background: url(homedollarmedia/capa28.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 512px;
   top: 693px;
   z-index: 3;
   width: 144px;
   height: 138px;
}

#shape1  {
   background: url(homedollarmedia/shape1.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 836px;
   top: 122px;
   z-index: 3;
   width: 22px;
   height: 22px;
}

#retq4  {
   background: url(homedollarmedia/retq4.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 228px;
   top: 963px;
   z-index: 3;
   width: 161px;
   height: 157px;
}

#capa7  {
   background: url(homedollarmedia/capa7.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 227px;
   top: 1270px;
   z-index: 3;
   width: 180px;
   height: 148px;
}

#copia  {
   left: 299px;
}

#retq6  {
   background: url(homedollarmedia/retq6.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 525px;
   top: 961px;
   z-index: 3;
   width: 192px;
   height: 152px;
}

#id35  {
   left: 207px;
}

#r6  {
   background: url(homedollarmedia/r6.jpg) no-repeat;
   visibility: visible;
   position: absolute;
   left: 846px;
   top: 963px;
   z-index: 3;
   width: 172px;
   height: 158px;
}

html, body  {
   padding: 0px;
   margin: 0px;
   background-color: #FFFFFF;
}
